:root{
  --col-txt-intro: #4bd5ee;
  --col-txt-shadow: #f9fefa;
  --col-dark: #001823;

  --anim-intro: 5s linear 2s 1 normal forwards running intro; /* 2-7 */
  --anim-logo: logo 12s 9s 1 ease-out forwards; /* 9-21 */
  
  --anim-crawl-scroll: crawl-scroll 96s 15s 1 linear forwards; /* 15-87 */
  --anim-txt-fade: crawl-fade 3s 1 linear forwards;   /* start fade per-paragraph */
  
  --anim-tilt-bg: tilt-bg 1 ease-in-out forwards; /* 88-96 */
  --anim-tilt-location-bottom: tilt-bottom-location 1 ease-in-out forwards;
  --anim-tilt-location-center: tilt-centered-location 1 ease-in-out forwards;
  --anim-tilt-delay: 88s;
  --anim-tilt-duration: 8s;
  --anim-ship-delay: 100s;
  --anim-outro-delay: 105s;
}

@font-face {
  font-family: "Star Wars";
  src: url(/fonts/StarWars.ttf) format("woff2");
}

/* From https://www.cufonfonts.com/ */
@font-face {
  font-family: "Franklin";
  font-weight: 100;
  src: url(/fonts/LibreFranklin-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "Franklin";
  font-weight: 200;
  src: url(/fonts/LibreFranklin-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Franklin";
  font-weight: 300;
  src: url(/fonts/LibreFranklin-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Franklin";
  font-weight: 400;
  src: url(/fonts/LibreFranklin-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Franklin";
  font-weight: 500;
  src: url(/fonts/LibreFranklin-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Franklin";
  font-weight: 600;
  src: url(/fonts/LibreFranklin-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Franklin";
  font-weight: 700;
  src: url(/fonts/LibreFranklin-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Franklin";
  font-weight: 800;
  src: url(/fonts/LibreFranklin-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Franklin";
  font-weight: 900;
  src: url(/fonts/LibreFranklin-Black.ttf) format("truetype");
}



* {
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-size: 10px;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--col-dark);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url("stars.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
  background-size: 140vw 140vh;
  font-size: 10px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  animation: var(--anim-tilt-bg);
  animation-duration: var(--anim-tilt-duration);
  animation-delay: var(--anim-tilt-delay);
}
@keyframes tilt-bg {
  0%   { background-position: center 0; }
  100% { background-position: center -40vh; }
}

main {
  position: relative;
}

header,
#logo,
footer {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

h1 {
  color: var(--col-txt-intro);
  font-family: "Franklin";
  font-weight: 300;
  font-size: 4em;
  line-height: 1.5em;
  letter-spacing: 0;
  opacity: 0;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  min-width: 15.6em;
  width: 80%;
  margin: 0 auto;
  animation: var(--anim-intro);
}

@keyframes intro {
  0%, 100% { opacity: 0; }
  13%, 87% { opacity: inherit; }
}

#logo {
  font-family: "Star Wars";
  color: var(--col-dark);
  text-align: center;
  font-size: 10em;
  text-shadow: 2px 2px 0 var(--col-txt-shadow), -2px 2px 0 var(--col-txt-shadow), 2px -2px 0 var(--col-txt-shadow), -2px -2px 0 var(--col-txt-shadow),
                 3px 0px 0 var(--col-txt-shadow), -3px 0 0 var(--col-txt-shadow), 0 3px 0 var(--col-txt-shadow), 0 -3px 0 var(--col-txt-shadow);
  position: absolute;
  opacity: 0;
  animation: var(--anim-logo);
}

h2 {
  line-height: .9em;
  letter-spacing: 0.1ch;
}

@keyframes logo {
  0% {
    transform: translateY(-50%) scale(20);
    opacity: 1;
  }
  90% {
    transform: translateY(-50%) scale(.1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(.05);
  }
}

article#crawl {
  width: 90%;
  margin: 0 auto;
  transform-origin: 50% 100vh;
  transform: perspective(100vh) rotateX(45deg);
}
ul {
  position: fixed;
  transform: translateY(5%);
  animation: var(--anim-crawl-scroll);
}
@keyframes crawl-scroll {
  0%   { transform: translateY(10%); }
  100% { transform: translateY(-150%); }
}

li {
  color: var(--col-txt-shadow);
  font-family: 'Franklin';
  font-weight: 400;
  text-align: justify;
  font-size: 10em;
  line-height: 1.3em;
  margin-bottom: 1.1em;
  width: 1;
  animation: var(--anim-txt-fade);
}
li#episode, li#title {
  font-weight: bold;
  text-align: center;
}

li:nth-child(1)  { animation-delay: 30.0s; }
li:nth-child(2)  { animation-delay: 33.9s; }
li:nth-child(3)  { animation-delay: 37.8s; }
li:nth-child(4)  { animation-delay: 41.7s; }
li:nth-child(5)  { animation-delay: 45.6s; }
li:nth-child(6)  { animation-delay: 49.5s; }
li:nth-child(7)  { animation-delay: 53.4s; }
li:nth-child(8)  { animation-delay: 57.3s; }
li:nth-child(9)  { animation-delay: 61.2s; }
li:nth-child(10) { animation-delay: 65.1s; }
li:nth-child(11) { animation-delay: 69.0s; }
li:nth-child(12) { animation-delay: 72.9s; }
li:nth-child(13) { animation-delay: 76.8s; }
li:nth-child(14) { animation-delay: 80.7s; }
li:nth-child(15) { animation-delay: 85.0s; }

@keyframes crawl-fade {
  0%   { opacity: inherit; }
  100% { opacity: 0; }
}

/* Loc 87s */
aside {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  width: 100vh;
  max-width: 100vh;
  transform: translateY(12%);

  background-image: url("CirclesEnd.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: contain;
  opacity: 0;

  animation: var(--anim-tilt-location-bottom);
  animation-duration: var(--anim-tilt-duration);
  animation-delay: var(--anim-tilt-delay);
}

@keyframes tilt-bottom-location {
  0% {
    opacity: 1;
    background-position: center 100vh;
  }
  100% {
    opacity: 1;
    background-position: center bottom;
  }
}

footer {
  width: 100%;
  max-width: 100%;
  text-align: center;
  opacity: 0;
  animation: var(--anim-tilt-location-center);
  animation-duration: var(--anim-tilt-duration);
  animation-delay: var(--anim-tilt-delay);
}
#ship {
  transform: translateX(10%) scale(0.25); 
  animation: ship-jump forwards;
  animation-timing-function: cubic-bezier(1, 0, 1, 1);
  animation-duration: 5s;
  animation-delay: var(--anim-ship-delay);
}

@keyframes tilt-centered-location {
  0% { opacity: 1; transform: translateY(100vh); }
  100% { opacity: inherit; transform: translateY(0); }
}
@keyframes ship-jump {
  0% { opacity: 1; transform: translateX(10%) scale(0.25); }
  100% { opacity: 1; transform: translateX(-200%) scale(10) }
}


#outro {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  display:flex;
  color:white;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  font-family: 'Franklin';
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  animation: outro forwards;
  animation-delay: var(--anim-outro-delay);
  animation-duration: 5s;
  opacity: 0;
}
a {
  color: var(--col-txt-intro);
  cursor: pointer;
}

@keyframes outro {
  0% { opacity: 0; transform: scale(10); }
  100% { opacity: 1; }
}